**/keos_kernel
**/target
**/.gdbinit
**/ffs.bin
**/sfs.bin
**/blk.bin
**/.vscode
**/gKeOS
**/run_log.txt
**/*.o
**/.gdb_history
**/kelibc.a
**/build
**/build_objects
**/rootfs/*
!**/rootfs/hello*
!**/rootfs/os-release
!**/rootfs/simple_fs.tar
**/userprog/*.o
**/keos.tar.gz
**/template
submissions/
